@model ExpertsGulfPortal.Models.Entities.Arbitrators

<h1 dir="rtl">إضافة محكم جديد</h1>

<form method="post" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">الاسم الأول</label>
                    <input type="text" class="form-control" asp-for="FirstName" />
                </div>
            </div>

            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">الاسم الأخير</label>
                    <input type="text" class="form-control" asp-for="LastName" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-6">
                    <div class="mt-3">
                        <label class="form-label">نوع الاستشارة</label>
                        <select class="form-control" asp-for="ConsultationType">
                            <option value="">اختر نوع الاستشارة</option>
                            <option value="استشارات اكاديمية">استشارات اكاديمية</option>
                            <option value="استشارات اعمال">استشارات اعمال</option>
                        </select>
                    </div>
                </div>

            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">الجنسية</label>
                    <input type="text" class="form-control" asp-for="Nationality" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">اللغة المفضلة</label>
                    <input type="text" class="form-control" asp-for="PreferredLanguage" />
                </div>
            </div>

            <div class="col-6">
                <div class="mt-3">
                        <label class="form-label">النوع</label>
                        <select class="form-control" asp-for="Gender">
                            <option value="">النوع</option>
                            <option value="ذكر">ذكر</option>
                            <option value="انثى">انثى</option>
                        </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">الجهات</label>
                    <input type="text" class="form-control" asp-for="Entities" />
                </div>
            </div>

            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">الدولة</label>
                    <input type="text" class="form-control" asp-for="Country" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">المدينة</label>
                    <input type="text" class="form-control" asp-for="City" />
                </div>
            </div>

            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">الدرجة العلمية الحاصل عليها</label>
                    <input type="text" class="form-control" asp-for="AcademicDegree" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">التخصص العام</label>
                    <input type="text" class="form-control" asp-for="GeneralSpecialization" />
                </div>
            </div>

            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">التخصص الدقيق 1</label>
                    <input type="text" class="form-control" asp-for="SpecificSpecialization1" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mt-3">
                        <label class="form-label">التخصص الدقيق 2</label>
                    <input type="text" class="form-control" asp-for="SpecificSpecialization2" />
                </div>
            </div>

            <div class="col-6">
                <div class="mt-3">
                    <label class="form-label">موضوع رسالة الماجستير</label>
                    <input type="text" class="form-control" asp-for="MastersThesisTitle" />
                </div>
            </div>
        </div>

        <div class="mt-3">
            <label class="form-label">موضوع رسالة الدكتوراه</label>
            <input type="text" class="form-control" asp-for="DoctoralThesisTitle" />
        </div>

        <div class="mt-3">
            <label class="form-label">مكان الإقامة</label>
            <input type="text" class="form-control" asp-for="ResidencePlace" />
        </div>

        <div class="mt-3">
            <label class="form-label">مكان العمل</label>
            <input type="text" class="form-control" asp-for="WorkPlace" />
        </div>

        <div class="mt-3">
            <label class="form-label">تخصصات سوق العمل</label>
            <input type="text" class="form-control" asp-for="LaborMarketSpecialization" />
        </div>

        <div class="mt-3">
            <label class="form-label">الجمعية العلمية</label>
            <input type="text" class="form-control" asp-for="ScientificAssociation" />
        </div>

        <div class="mt-3">
            <label class="form-label">شهادة مزاولة المهنة</label>
            <input type="text" class="form-control" asp-for="ProfessionalCertificate" />
        </div>

        <div class="mt-3">
            <label class="form-label">المؤهل</label>
            <input type="text" class="form-control" asp-for="Qualification" />
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg">إضافة</button>
        </div>
    </div>
</form>
